<style>

.header{
  color:darkslategray;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
  background-color:darkslategray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<ion-header>
  <ion-toolbar>
    <div class="header">
    <ion-title>ABOUT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Mobiilirakenduste Arendamine 3. Iseseisev Töö - Kert Tamm</p>
</ion-content>

<ion-list>
  <ion-list-header>Github repository</ion-list-header>
  <ion-item>
    <ion-icon name="logo-github" slot="start"></ion-icon>
    https://github.com/k3rttamm/ionic4-angular-news
  </ion-item>
</ion-list>

<a href="#" class="button">Back</a>