
<style>
.img {
  height:fit-content;
  width: 100%;
}
.text {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
  color:darkslategray;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
</style>

<ion-header>
  <ion-toolbar>
    <div class="header">
    <ion-title>Latest news</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of data?.articles" (click)="onGoToNewsSinglePage(article)">
      <div class="img">
     <ion-img [src]="article.urlToImage" ></ion-img> 
      </div>
      <div class="text">
    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-content>
  </div>
    <!--
      <p>{{article.description}}</p>
    </ion-card-content>-->
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="load news.."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

